<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hmm-la-bd - {{ strip.title  }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- FIXME : Conflose -->
	<link rel="stylesheet" type="text/css" href="styles/styles.css" media="screen" />
	<link rel="shortcut icon" type="image/gif" href="images/favicon.ico" />
	<link href="http://feeds.feedburner.com/hmm-la-bd" title="RSS 2.0" type="application/rss+xml" rel="alternate" />
	<meta name="description" content="Hmm-la-bd ? Hmm... Webcomic irrégulier d'un etudiant a EPITA." />
	<meta name="author" content="Mogmi" />
	<meta name="keywords" content="mogmi, webcomic, hmm, hmm-la-bd, epita, geek, mec, froid,<?php echo $tags ?>" />
	<meta name="robots" content="index,follow" />
</head>
<body>
    <div id="global" />
        <div id="header" />
        </div> <!-- header -->
        <div id="main" />
        </div> <!-- main -->
        <div id="footer" />
        </div> <!-- footer -->
    </div> <!-- global -->
</body>
</html>
