{% extends "base.html" %}
{% block main %}
<div id="page_navbar">
    <a href="http://hmm-la-bd.eu/1"><img src="{{ STATIC_URL }}images/icon_first.png" alt="Premier" /></a>
    <a href="http://hmm-la-bd.eu/{{ prev_strip_number }}"><img src="{{ STATIC_URL }}images/icon_prev.png" alt="Précédent" /></a>
    <a href="http://hmm-la-bd.eu/{{ random_strip_number }}"><img src="{{ STATIC_URL }}images/icon_random.png" alt="Random" /></a>
    <a href="http://hmm-la-bd.eu/{{ next_strip_number }}"><img src="{{ STATIC_URL }}images/icon_next.png" alt="Suivant" /></a>
    <a href="http://hmm-la-bd.eu/{{ last_strip_number }}"><img src="{{ STATIC_URL }}images/icon_last.png" alt="Dernier" /></a>
</div> <!-- page_navbar -->
<a href="http://hmm-la-bd.eu/{{ next_strip_number }}"><img src="{{ MEDIA_URL }}{{ strip.png }}" title="{{ strip.description }}" alt="{{ strip}}" /></a>
<div id="page_info">
    <g:plusone></g:plusone>
    <iframe src="http://www.facebook.com/plugins/like.php?app_id=170746896336878&amp;href=http://hmm-la-bd.eu/{{strip.number}}&amp;send=false&amp;layout=standard&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:25px;" allowTransparency="true"></iframe>
    <a href="http://twitter.com/share" class="twitter-share-button"	data-url="http://hmm-la-bd.eu/{{strip.number}}" data-related="twitter,twitfond" data-count="horizontal" data-lang="fr">Tweeter</a><br />
    <a href="{{ MEDIA_URL }}{{ strip.svg }}">Accéder à la source SVG</a>
    <!-- <p id="strip_description">{{ strip.description }}</p>-->
    <p id="strip_tags">Tags: {% for tag in tags %} <a href="">{{ tag }}</a>{% endfor %}</p>
</div> <!-- page_info -->
<div id="page_socials">
</div> <!-- page_socials -->
<div id="page_comments">
    {% for comment in comments %}
    <div class="comment">
        <div class="comment_author">
            <p><a href="{{ comment.author_website}}">{{ comment.author_name }}</a></p>
        </div> <!-- comment_author -->
        <div class="comment_number">
            <p>{{ forloop.counter }}</p>
        </div> <!-- comment_number -->
        <div class="comment_content">
            <p>{{ comment.comment }}</p>
        </div> <!-- comment_content -->
    </div> <!-- comment -->
    {% endfor %}
    <div class="comment">
        <div class="comment_author">
            <p><input type=text /></p>
        </div> <!-- comment_author -->
        <div class="comment_number">
            <p>XX</p>
        </div> <!-- comment_number -->
        <div class="comment_content">
            <p><textarea></textarea></p>
        </div> <!-- comment_content -->
    </div> <!-- comment -->
</div> <!-- page_comments -->
{% endblock %}

