/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Hmm-la-bd.eu */

/* Global configuration */
html
{
    font-family:sans-serif;
}

/* global div */
#global
{
    background-image:url(../images/bg-gradient.png);
    padding-top: 5px;
    padding-bottom: 5px;
}

a
{
    color: black;
}

/* header div */
#header
{
    background-color: black;
    width: 100%;
    height: 100px;
}

#header_container
{
    background-color: white;
    width: 1000px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#header_list
{
    padding: 10px;
}

#logo
{
    float: left;
}

#title
{
    text-align: center;
    float: left;
    padding-left: 20px;
}

h1
{
    font-size: 250%;
}

h2
{
    font-size: 100%;
    font-style: italic;
}

/* end header div */

/* main div */

#main_page
{
    border-radius: 10px;
    background-color: white;
    width: 1000px;
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    padding: 10px;
}


#page_boxesbar
{
    border-radius: 10px;
    text-align: left;
    padding-top: 15px;
    padding-left: 5px;
}

#page_boxesbar_search
{
    float: right;
    padding-right: 5px;
}

#search_form
{
    display: inline;
    vertical-align: middle;
    float: right;
    padding-top: 9px;
    padding-left: 5px;
}

#search_form input
{
    border-radius: 5px;
    height: 20px;
    box-shadow: 1px 1px 2px #C0C0C0 inset;
}

#page_navbar
{
    padding-top: 5px;
}

/* comments div */

.comment
{
    position: relative;
    width: 450px;
    height: 100px;
	margin-left: auto;
	margin-right: auto;
}

.comment_number
{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #000;
}

.comment_author
{
    position: absolute;
    width: 150px;
    top: 4px;
    left: 15px;
    height: 30px;
    border: 3px solid black;
    border-radius: 50px;
    font-size: 20px;
    color: #000;
    line-height: 30px;
    text-align: center;
    background: #FFF;
}

.comment_content
{
    position: absolute;
    top: 38px;
    border: 3px solid black;
    border-radius: 15px;
    text-align: left;
    padding: 10px;
    width: 100%;
}
/* end comments div */

/* end main div */

/* footer div */
#footer
{
    background-color: white;
    height: 50px;
    width: 1000px;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
/* end footer div */

/* end global div */

